<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jabari and MUIZ">

    <title><%= title %></title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="/Content/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css">
    <script src="/Script/main.js"></script>
    <script src="/Script/app.js"></script>
    <script src="/Script/router.js"></script>
    <script src="/Script/contact.js"></script>
    <script src="/Script/user.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body id="<%= page %>">

<header>
    <%- include('./components/header')-%>
</header>

<main class = "container">
    <%- include('./content/'+page)-%>
</main>

<footer>
    <%- include('./components/footer')-%>
</footer>
<!-- Scripting Section -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>

</body>
</html>